button {
    border: none;
    background-color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
  }
  
  button:hover {
    background-color: rgba(255, 166, 0, 0.502);
    border-radius: 50%;
  }
  
  #AC {
    grid-column: 3 / span 2;
    color: orange;
  }