button {
    border: none;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
  }
  
  button:active {
    background-color: rgba(240, 236, 226, 0.466);
    border-radius: 50%;
  }
  
  /* #zero{
    grid-column: 1 / span 2;
  } */
  #clear,#addminus,#percent,#divide,#multiply,#add,#subtract{
    color: rgb(255, 166, 0);
  }
  #equals{
    background-color: rgba(255, 166, 0, 0.795);
    color: white;
  }
button:active{
  font-size: 15px;
}